* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
  font-family: 'Merriweather', serif;
}

h5 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 140%;
}

p {
  font-size: 16px;
  line-height: 180%;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: #0c9c76;
  color: white;
  border-radius: 10px;
  border: 3px solid #0c9c76;
  -webkit-transition: all .30s ease;
  transition: all .30s ease;
}

.btn:hover {
  background: none;
  border: 3px solid #0c9c76;
  color: #0c9c76;
  -webkit-transition: all .30s ease;
  transition: all .30s ease;
}

.btn-i {
  display: inline-block;
  padding: 10px 30px;
  background: #0c9c76;
  color: white;
  border-radius: 10px;
  border: 3px solid #0c9c76;
  -webkit-transition: all .30s ease;
  transition: all .30s ease;
}

.btn-i:hover {
  background: none;
  border: 3px solid #0c9c76;
  color: white;
  -webkit-transition: all .30s ease;
  transition: all .30s ease;
}

.padding {
  padding: 50px 0;
}

.mg-top {
  margin-top: 5%;
}

.color {
  color: #0c9c76;
}

.bg {
  background: url(/img/wave1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.space-betwen {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ai {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-responsive {
  width: 100%;
}

.jc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[class^="col"] {
  margin: 1%;
}

.col1 {
  width: 6.33333%;
}

.col2 {
  width: 14.66667%;
}

.col3 {
  width: 23%;
}

.col4 {
  width: 31.33333%;
}

.col5 {
  width: 39.66667%;
}

.col6 {
  width: 48%;
}

.col7 {
  width: 56.33333%;
}

.col8 {
  width: 64.66667%;
}

.col9 {
  width: 73%;
}

.col10 {
  width: 81.33333%;
}

.col11 {
  width: 89.66667%;
}

.col12 {
  width: 98%;
}

@media screen and (max-width: 441px) {
  .col1 {
    width: 100%;
  }
  .col2 {
    width: 100%;
  }
  .col3 {
    width: 100%;
  }
  .col4 {
    width: 100%;
  }
  .col5 {
    width: 100%;
  }
  .col6 {
    width: 100%;
  }
  .col7 {
    width: 100%;
  }
  .col8 {
    width: 100%;
  }
  .col9 {
    width: 100%;
  }
  .col10 {
    width: 100%;
  }
  .col11 {
    width: 100%;
  }
  .col12 {
    width: 100%;
  }
  .col1-xs {
    width: 6.33333%;
  }
  .col2-xs {
    width: 14.66667%;
  }
  .col3-xs {
    width: 23%;
  }
  .col4-xs {
    width: 31.33333%;
  }
  .col5-xs {
    width: 39.66667%;
  }
  .col6-xs {
    width: 48%;
  }
  .col7-xs {
    width: 56.33333%;
  }
  .col8-xs {
    width: 64.66667%;
  }
  .col9-xs {
    width: 73%;
  }
  .col10-xs {
    width: 81.33333%;
  }
  .col11-xs {
    width: 89.66667%;
  }
  .col12-xs {
    width: 98%;
  }
}

.row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo i {
  font-size: 30px;
  color: #0c9c76;
}

.menu a {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.87);
}

.menu a:hover {
  color: #0c9c76;
  -webkit-transition: all .30s ease;
  transition: all .30s ease;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 20px;
}

.user .info,
.user .keranjang,
.user .user-login {
  padding: 2px 7px;
  background: #e9f1f7b0;
  border-radius: 5px;
}

.user .info:hover,
.user .keranjang:hover,
.user .user-login:hover {
  background: #0c9c76;
  -webkit-transition: all .40s ease;
  transition: all .40s ease;
}

.user .info .fas,
.user .keranjang .fas,
.user .user-login .fas {
  color: black;
}

.user .keranjang {
  margin: 0 7px;
}

.image .item-image {
  position: relative;
}

.image .item-image img {
  border-radius: 10px;
}

.image .desc {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 10%;
  background: rgba(73, 73, 73, 0.295);
  height: 84%;
  border-radius: 10px;
}

.image .desc p {
  margin-bottom: 5%;
}

.menu-item h3 {
  position: relative;
  display: inline-block;
}

.menu-item h3::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 100%;
  left: 0;
  border-bottom: 5px solid rgba(0, 128, 0, 0.507);
  border-radius: 1px;
}

.fix {
  height: 500px;
}

.product {
  background: #0c9c76;
}

.product a {
  color: black;
}

.product-menu {
  padding: 10px 20px;
  background: #fdfdfd;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
  text-align: center;
  border-radius: 5px;
  -webkit-transition: all .30s ease;
  transition: all .30s ease;
  margin: 10px 0px;
}

.product-menu:hover {
  background: #0c9c76;
  -webkit-transition: all .30s ease;
  transition: all .30s ease;
  color: white;
  border: 3px solid white;
}

.space1 {
  margin-bottom: 10px;
}

.space2 {
  margin-bottom: 20px;
}

.space3 {
  margin-bottom: 30px;
}

.space4 {
  margin-bottom: 40px;
}

.space5 {
  margin-bottom: 50px;
}

.space6 {
  margin-bottom: 60px;
}

.space7 {
  margin-bottom: 70px;
}

.space8 {
  margin-bottom: 80px;
}

.space9 {
  margin-bottom: 90px;
}

.space10 {
  margin-bottom: 100px;
}

.space11 {
  margin-bottom: 110px;
}

.space12 {
  margin-bottom: 120px;
}

.about {
  background: #cccccc4f;
}

.about-desc h4 {
  color: #0c9c76;
}

.about-fitur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-fitur .fitur {
  margin: 0 15px 15px 0;
  background: white;
  padding: 15px 15px;
  border-radius: 5px;
  width: 250px;
}

.about-fitur .fitur .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  color: black;
  font-size: 30px;
}

.about-fitur .fitur .icon img {
  width: 40px;
  margin-right: 10px;
}

.footer {
  background: #0c9c767e;
}

.footer .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social-media a {
  margin-right: 10px;
}

.footer .social-media a img {
  width: 40px;
  text-align: center;
}

.footer .copyright {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */