.footer {
    background: #0c9c767e;

    .row {
        justify-content: center;
    }

    .social-media {
        display: flex;
        justify-content: center;

        a {
            margin-right: 10px;


            img {
                width: 40px;
                text-align: center;
            }
        }
    }

    .copyright {
        text-align: center;

        p {
            line-height: 0px;
        }
    }

}